@font-face {
  font-family: 'Karla';
  src: local('Karla'),
    url('../fonts/Karla/static/Karla-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla-Light';
  src: local('Karla-Light'),
    url('../fonts/Karla/static/Karla-Light.ttf') format('truetype');
}

body {
  font-size: 16px;
  background-color: hsl(204, 43%, 93%);
  font-family: 'Karla';
  color: #a3ffff;
}

.single-price-grid-container {
  margin: 70px 30px;
}

.community-section {
  background-color: #ffffff;
  border-radius: 5px 5px 0 0;
}

.subscription-section {
  background-color: #2bb3b1;
}

.why-us-section {
  background-color: #4abebd;
  border-radius: 0 0 5px 5px;
}

.section {
  padding: 33px 24px;
}

.section .title {
  font-size: 16px;
  color: hsl(204, 43%, 93%);
  margin: 0;
  margin-bottom: 26px;
}

.section .first-section-title {
  color: #45a0a1;
  margin-bottom: 28px;
}

.first-section-description {
  color: #a0a7b1;
  margin: 0;
}

.hightlight-text {
  color: hsl(71, 73%, 54%);
  margin: 0;
  margin-bottom: 26px;
  font-weight: bold;
}

.highlight-price {
  font-size: 28px;
  margin: 0;
}

.highlight-price span {
  font-size: 16px;
  color: #6ecdd1;
  font-family: 'Karla-Light';
}

.sign-up .btn {
  padding: 18px 99px;
  border-radius: 5px;
  background-color: #bfdf32;
  border: none;
  color: #f7fedf;
  width: 100%;
}

.sign-up {
  width: 100%;
}
.description-text {
  line-height: 1.5;
  font-family: 'Karla-Light';
  font-size: 13px;
  margin: 0;
  margin-bottom: 33px;
}

.why-us-section-description {
  font-family: 'Karla-Light';
  color: hsl(204, 43%, 93%);
  font-size: 13px;
  margin: 0;
  margin-bottom: 5px;
}

@media screen and (min-width: 635px) {
  body {
    min-height: 100vh;
    margin: 0;
    background-color: hsl(210, 46%, 95%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .single-price-grid-container {
    display: grid;
    width: 637px;
    margin: 163px 0;
    border: 5px;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      'community community'
      'subscription why';
  }

  .community-section {
    grid-area: community;
  }

  .subscription-section {
    grid-area: subscription;
    border-radius: 0 0 0 5px;
  }

  .why-us-section {
    grid-area: why;
    border-radius: 0 0 5px 0;
  }

  .description-text {
    font-size: 16px;
  }

  .why-us-section-description {
    font-size: 16px;
  }

  .section .title {
    font-size: 20px;
    font-family: 'Karla-Light';
  }

  .section .first-section-title {
    font-size: 24px;
    font-family: 'Karla';
    margin-bottom: 36px;
  }

  .section {
    padding: 0 36px;
  }

  .hightlight-text {
    margin-bottom: 20px;
  }

  .first-section-description {
    margin-bottom: 49px;
  }

  .section .title {
    margin-top: 45px;
  }

  .why-us-section {
    padding-bottom: 43px;
  }

  .why-us-section h1 {
    margin-bottom: 20px;
  }
}
